<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <form method="post" th:action="@{/add}">
        <input type="text" name="name" placeholder="Введите имя">
        <input type="text" name="email" placeholder="Введите email">
        <input type="text" name="text">
        <button type="submit">Добавить</button>
    </form>
</div>
<div>
    <form method="post" th:action="@{/filter}">
        <input type="text" name="filter">
        <button type="submit">Применить</button>
    </form>
</div>
<table>
    <tr>
        <th>id message</th>
        <th>name</th>
        <th>email</th>
        <th>id text</th>
    </tr>
    <tr th:each="message:${messages}">
        <td th:text="${message.idMessage}"></td>
        <td th:text="${message.name}"></td>
        <td th:text="${message.email}"></td>
        <td th:text="${message.idText}"></td>
    </tr>
</table>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>
</body>
</html>